node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.next/
aieducation-da765-firebase-adminsdk-fbsvc-489a2563c4.jsonaieducation-da765-firebase-adminsdk-fbsvc-489a2563c4.json
aieducation-da765-firebase-adminsdk-fbsvc-489a2563c4.json
